{% extends "layout.html" %}

{% block title %}
	Apartment
{% endblock %}

{% block body %}
	<h1> The Apartment data page</h1>
		<label class="switch">
			<input type="checkbox">
	  		<div class="slider"></div>
	  		<div class="text"></div>
		</label>
	<h1>Current temperature is {{ temp }} </h1>
	<h1>Current humidity is {{ hum }} </h1>

	<img class="dataplot" src="{{ url_for('static', filename='plots/temp_hour.png') }}">
	<img class="dataplot" src="{{ url_for('static', filename='plots/temp_day.png') }}">
	<img class="dataplot" src="{{ url_for('static', filename='plots/temp_week.png') }}">
{% endblock %}
