<!DOCTYPE html>

<html lang="en">
	<head>
		<title>
			{% block title %}
			{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='cat_hat.jpg') }}"/>
	</head>
	<div id="topnav" class = "topnav">
		<a id="homenav" href = "/">Home</a>
		<a href="/apartment">Apartment</a>
	</div>
	<script src="{{ url_for('static', filename='navFunction.js') }}">
	</script>
	<body>
	<div class="central-column">
		{% block body %}
		{% endblock %}
	<content-area>
	</div>
	
</html>
